apiVersion: v1
kind: Service
metadata:
  labels:
    app: helloworld
  name: helloworld
  namespace: staging
spec:
  ports:
  - name: flask
    port: 80
    protocol: TCP
    targetPort: 5000
  selector:
    app: helloworld
